@using Microsoft.AspNetCore.Identity;
@using PatientCard.Areas.Identity.Data;
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthSystem</title>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthSystem.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/bar.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">pro sidebar</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <div class="sidebar-header">
                    <div class="user-info">
                        <span class="user-name">
                            <a href="/Identity/Account/Manage/Index">@UserManager.GetUserAsync(User).Result</a>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>

                <!-- Поисковик  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <!--Боковое меню справочники-->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Основные модели</span>
                        </li>
                        <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-gem"></i>
                                    <span>Справочники</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Анализы", "Index", "Analyzes")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Организация", "Index", "Departaments")
                                        </li>
                                        <li>
                                        @Html.ActionLink("Лист нетрудоспособности", "Index", "DisabilitySheets")
                                        </li>
                                        <li>
                                        @Html.ActionLink("Доктора", "Index", "Doctors")
                                        </li>
                                        <li>
                                        @Html.ActionLink("Финансирование", "Index", "Financing")
                                        </li>
                                        @*<li>
                                            @Html.ActionLink("Осмотр в больнице", "Index", "InspectionHospitals")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Осмотр в поликлиннике", "Index", "InspectionPolyclinics")
                                        </li>*@
                                        <li>
                                            @Html.ActionLink("Скорая помошь", "Index", "MedicalCars")
                                        </li>
                                        @*<li>
                                            @Html.ActionLink("Операции", "Index", "Operations")
                                        </li>*@
                                        <li>
                                        @Html.ActionLink("Отделения", "Index", "Organizations")
                                        </li>
                                        @*<li>
                                        @Html.ActionLink("Больничный прием", "Index", "Receptions")
                                        </li>*@
                                        <li>
                                            @Html.ActionLink("Рецепты", "Index", "Recipes")
                                        </li>
                                        <li>
                                        @Html.ActionLink("Услуги", "Index", "Services")
                                        </li>
                                        <li>
                                        @Html.ActionLink("Исследования", "Index", "Stydys")
                                        </li>
                                    </ul>
                                </div>
                        <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-gem"></i>
                                    <span>Диспансеризация</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Диспансеризация", "Index", "Hospitals")
                                        </li>
                                    </ul>
                                </div>
                        </li>
                        <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-gem"></i>
                                    <span>Поликлиника</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Поликлиника", "Index", "Polyclinics")
                                        </li>
                                    </ul>
                                </div>
                        </li>
                        <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-gem"></i>
                                    <span>Пациенты</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Пациенты", "Index", "Users")
                                        </li>
                                    </ul>
                                </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- Кнопки внизу -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="/Identity/Account/Logout">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
        <!-- page-content" -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>