@model PatientCard.Models.SignatureDoctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SignatureDoctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Information)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Information)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.IdDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidWith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidWith)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSignatureDoctor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
