@model IEnumerable<PatientCard.Models.SignatureDoctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidWith)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidUntil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidWith)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidUntil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSignatureDoctor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSignatureDoctor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSignatureDoctor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
