@model IEnumerable<PatientCard.Models.Reception>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analyze)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stydy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnamnesisDisease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnamnesisLife)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.IdDepartament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.IdService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Analyze.IdAnalyzes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stydy.IdStydy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnamnesisDisease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnamnesisLife)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReception">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReception">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReception">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
