@model PatientCard.Models.Departament

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Departament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameDepartament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameDepartament)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeDepartament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeDepartament)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdressDepartament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdressDepartament)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDepartament" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
