@model IEnumerable<PatientCard.Models.Departament>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameDepartament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeDepartament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdressDepartament)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameDepartament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeDepartament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdressDepartament)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDepartament">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDepartament">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDepartament">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
