@model IEnumerable<PatientCard.Models.DisabilitySheet>

@{
    ViewData["Title"] = "Index";
}

<style>
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f7f7f7;
    }

    .table-dark {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
    }

        .table-dark th,
        .table-dark td,
        .table-dark thead th {
            border-color: #454d55;
        }
</style>
<h1>Лист нетрудоспособности</h1>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Создать новое</a>
</p>
<div class="table-responsive">
    <table id="dataTable" class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfSinging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullNameDoctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departament.NameDepartament)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfSinging)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.IdDisabilitySheet"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.IdDisabilitySheet"><i class="fas fa-info"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.IdDisabilitySheet"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>