@model PatientCard.Models.MedicalCar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalCar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMedicalCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMedicalCar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceExit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceExit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonExit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonExit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultExit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultExit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueExit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueExit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.IdDoctor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMedicalCar">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
