@model IEnumerable<PatientCard.Models.InspectionHospital>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.IdDepartament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.IdService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inspection)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInspectionHospital">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInspectionHospital">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInspectionHospital">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
