@model IEnumerable<PatientCard.Models.Financing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinancingName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FinancingName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFinancing">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFinancing">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFinancing">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
