@model PatientCard.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeRecipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeRecipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRecipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.IdDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureDoctor.IdSignatureDoctor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRecipe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
