@model IEnumerable<PatientCard.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeRecipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRecipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignatureDoctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodeRecipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignatureDoctor.IdSignatureDoctor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRecipe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRecipe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRecipe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
