@model IEnumerable<PatientCard.Models.Stydy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conclusion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.NameDepartament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conclusion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullNameDoctor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStydy">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStydy">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStydy">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
